[% INCLUDE template/header.html -%]
<h1>TinyURL[% c.loc('New') %]</h1>
[% IF c.stash.create.error -%]
<font color="red">[% c.stash.create.message %]</font>
[% END -%]
<form name="tinyurl" method="post" action="/tinyurl/create">
<table>
  <!--
  <tr>
    <td>ID</td><td><input type="text" name="id" size="25" value="[% c.req.param('id') %]"></td>
  </tr>
  <tr>
    <td>Disable Flag</td><td><input type="text" name="disable" size="25" value="[% c.req.param('disable') %]"></td>
  </tr>
  -->
  <tr>
    <td>URL</td><td><input type="text" name="long_url" size="25" value="[% c.req.param('long_url') %]"></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="btn_create" value="[% c.loc('Add') %]"></td>
  </tr>
</table>
</form>
[% INCLUDE template/footer.html -%]

