[% INCLUDE template/header.html -%]
<h1>TinyURL[% c.loc('List') %]</h1>

<form>
  <input type="button" name="btn_create" value="[% c.loc('New') %]" onclick="javascript:window.location='/tinyurl/create';"><br/>
  <br/>
</form>

<table border="1">
<tr>
  <th>ID</th>
  <th>URL</th>
  <th>[% c.loc('Detail') %]</th>
  <th>[% c.loc('Edit') %]</th>
  <th>[% c.loc('Delete') %]</th>
</tr>
[% FOREACH tinyurl = c.stash.tinyurls -%]
<tr>
  <td><a href="[% tinyurl.long_url %]">[% tinyurl.id %]</a></td>
  <td>[% tinyurl.long_url %]</td>
  <td><a href="/tinyurl/read/[% tinyurl.id %]">[% c.loc('Detail') %]</a></td>
  <td><a href="/tinyurl/update/[% tinyurl.id %]">[% c.loc('Edit') %]</a></td>
  <td><a href="/tinyurl/delete/[% tinyurl.id %]">[% c.loc('Delete') %]</a></td>
</tr>
[% END -%]
</table>
[% INCLUDE template/footer.html -%]

